<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>0</key>
		<string>Тараканы существуют на Земле 250 миллионов лет и с тех пор не подверглись никаким эволюционным переменам.</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Изношенные бумажные деньги в США не сжигают из экологических соображений, а измельчают в порошок.</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Рыжеволосые женщины часто лысеют. </string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Совы — единственные птицы, которые подобно человеку моргая, опускают верхнее веко.</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Кипяток  загасит огонь  быстрее,  чем холодная  вода. </string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Лошадь фыркает, чтобы предупредить других об опасности.</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Клоун Куклачев применяет водный пистолет для воспитания кошек.</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>По русским законам XI века штраф за отсеченный палец был в четыре раза меньше, чем штраф за вырванный клок бороды.</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Олимпийская деревня в Лейк-Плейсиде (США) после окончания Олимпиады стала использоваться как тюрьма </string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>В Японии ученики на доске пишут кисточкой с цветными чернилами?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>3 самые глупые породы собак – бордер-колли, пудель и немецкая овчарка, самые умные – афганская борзая, бульдог и чау-чау.</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>97% людей, которым предложат новую ручку, первым делом напишут свое имя.</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Арахис используется при производстве динамита. </string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Больше всего “роллс-ройсов” на душу населения в Англии.</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>В 1841 году в Мексике мыло было в таком дефиците и стоило так дорого, что выполняло функцию денег.</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>В XVIII веке у тараканов была дурная привычка прятаться под воротники и в вещи завсегдатаев харчевен. Так солдаты, воевавшие против армий Фридриха, принесли тараканов (прусаков) на русские земли. Так или иначе, но до этого ни в Москве, ни в Петербурге тараканов не было. </string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>В мире раскрывается только 5 краж из 7.</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>В Чикаго женщину-водителя могут оштрафовать, если один ее глаз закрывают волосы или шляпа</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Язык кашалота весит больше, чем средний слон.</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Впервые метро было построено в Лондоне?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Некоторые млекопитающие могут поворачивать шею на 270 градусов?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>В далёкой Индии во время езды на слоне ночью обязательно нужно на хвост животному повесить фонарь?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string> В Рио-де-Жанейро полицейские могут заклеивать стекла некоторых автомашин большими плакатами? </string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Законы Германии разрешают управлять ав­томобилем не совсем трезвым водителям? </string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Дверь автомобиля Сталина закрывалась на дверную цепочку?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>На автострадах Гватемалы нет по­лицейских постов?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Екатерина II, застав истопника Зимнего дворца за сбором мешка с едой с царского стола, не позвала стражу, а сама лично «постояла на стрёме», пока он выходил по черной лестнице?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>При Рамзесе II было создано кладбище священных быков?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>В Испанской провинции Ла-Манча во время весеннего праздника парни соревнуются во вращении на крыльях ветряных мельниц?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>«Сыном бога Ра» впервые назвали фараона Хеопса?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Предводительницу амазонок во времена Ге­ракла звали Ипполита, т.е. «Лошадиная»?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Археологи нашли-таки фундамент вавилонской башни?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>В гербе Англии в XIV веке была роза?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Латынью древности называли греческий язык?


Латынью древности называли греческий язык?


Латынью древности называли греческий язык?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>У древних греков крокодил назывался «водяной лошадью»?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Китай – единственная страна, где растут голубые розы?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>В Африке живут мухи-людоеды?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>У змей ребра могут выполнять роль каркаса крыльев?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Фазан - это та же курица?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Лучшее снотворное — долгая прогулка перед сном?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>На луну воют только волки-одиночки?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Созрев, зерна мексиканской фасоли сами начинают раз­летаться из своих стручков?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Сороконожка и тарантул являются ядовитыми насе­комыми?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>В Калифорнии разрешается ставить мыше­ловки только тем, у кого есть охотничий би­лет?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Пингвины не умеют прыгать, они только ходят вперевалку?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>У каждого человека индивидуальный отпе­чаток языка?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Женское сердце бьется чаще мужского?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>У москитов есть зубы?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Мозг неандертальца был чуть меньше на­шего?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Человек смеется в среднем 5 раз в день?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Правое легкое человека вдыхает больше воз­духа, чем левое?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Ученые добились рождения тигренка с кру­глыми пятнами вместо полосок, как у бар­са?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Раки зимуют в норках под водой, впадая в спячку?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Лоси могут ходить по болотам, потому что у них на ногах перепонки?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Существуют подозрения, что Владимира Ильича Ле­нина пытались отравить грибами?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Чукчи до знакомства с «огненной водой» пьянели при помощи грибов?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>В Италии для того, чтобы иметь право собирать грибы, следует кончить специальные курсы, затем сдать экзамены и купить лицензию?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>«Шампиньон» по-французски означает «ко­ролевский гриб»?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Не так давно учёные обнаружили туманность, которая состоит в основном из этилового спирта?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Алхимики смогли получить серную кислоту еще в X веке?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Ещё в 273 году нашей эры китайцы делали сплавы, состоящие из 85% алюминия с магнием и ме­дью?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Больше всего в мире изобретается велоси­педов и средств для ращения волос?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Влажный воздух более плотный, поэтому давление перед дождем увеличивается?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Водяной пар имеет вид белых клубов?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Большие скорости движения вызывают пере­грузки организма?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Кипяток быстрее загасит огонь?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Сифон может действовать и в вакууме?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>В клюкве содержится лимонная кислота?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Конструкторы тепловозов стремятся умень­шить их вес?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Кардинал Ришелье обожал собак?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Родители считали Эйнштейна неполноценным недоразвитым ребенком?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Перед тем, как начать писать музыку, Бетховен выливал на голову ведро холодной воды?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Сирано де Бержерак раньше Циолковского описал путешествие при помощи реактивного движения?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Томас Джефферсон известен не только как политический деятель, автор Декларации независимости США, но и как градостроитель?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Известный английский натуралист и писатель Джеральд Даррел изучал животных в окрестностях реки Оки?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Отцом русской авиации называют Можайского?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Если бы Александр Македонский не был сыном царя, то он предпочел бы быть философом?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Сборник легких пьес для фортепиано «Дет­ский альбом» П. И. Чайковский написал для своего сына?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Химик Лебедев создал первый противогаз?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Внезапная смерть помешала Борису Пастер­наку получить Нобелевскую премию по ли­тературе?</string>
		<key>1</key>
		<false/>
	</dict>
	<dict>
		<key>0</key>
		<string>Не так давно  всё же нашли рукопись романа М. Шоло­хова «Тихий Дон» и тем положили конец домыслам о плагиате?</string>
		<key>1</key>
		<true/>
	</dict>
	<dict>
		<key>0</key>
		<string>Чарли Чаплин известен не только немыми и звуковыми фильмами, но еще и своей музы­кой?</string>
		<key>1</key>
		<true/>
	</dict>
</array>
</plist>
